@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Alegreya+Sans:400,700&display=swap');

$font-family-alegreya: 'Alegreya', serif;
$font-family-alegreya-sans: 'Alegreya Sans', sans-serif;

@font-face {
  font-family: 'EG-Dragon-Caps';
  src: url(../assets/fonts/EG-Dragon-Caps.ttf) format('truetype');
}
